BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 0
SortIncludes: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  AfterControlStatement: Never
BinPackArguments: false
BinPackParameters: false
SpacesInContainerLiterals: false
ObjCBlockIndentWidth: 2
